@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    margin: 0 1rem;
    padding: 18px;
    border-radius: 17px;
}

.card img {
    max-width: 100%;
    border-radius: 12px;
}

.text {
    text-align: center;
    padding: 22px 10px;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    color: hsl(220, 15%, 55%);
}